.search-movie-field {
    width: 95%;
}

mat-card {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    text-align: center;
    align-content: center;
}

mat-card-content {
    align-content: center;
}