<mat-card> 
  <mat-card-title>Welcome to Moviefy!</mat-card-title>
  <mat-card-subtitle><a routerLink="/about">About Us</a></mat-card-subtitle>
  <mat-card-content>
      <mat-form-field class="search-movie-field">
        <input matInput type="text" placeholder="Insert Movie Name Here" (keyup)="inputKeyUp($event)" [(ngModel)]="search">
        <div *ngIf="error.length != 0">
            <router-outlet> </router-outlet>
          </div>
    </mat-form-field>
    <br/>
    <button mat-raised-button color="primary" (click)="searchMovie()">Search</button>
  </mat-card-content>

</mat-card>
<mat-card>
  <mat-card-title>Results of Search: {{actualSearch}}</mat-card-title>
  <mat-card-content>
    <table *ngIf="showPageNav()" class="table table-hover center-table">
      <tr>
        <td>
            <button #previous mat-raised-button color="primary" [disabled]="!showPrevButton()"(click)="prevPage()">Prev Page</button>
        </td>
        <td>
            {{service.pageIndex}}/{{totalPages}}
        </td>
        <td>
            <button #next mat-raised-button color="primary" [disabled]="!showNextButton()"(click)="nextPage()">Next Page</button>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

  <table class="table table-hover center-table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Year</th>
          <th scope="col">Type</th>
          <th scope="col">Poster</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of resultsArray">
          <th scope="row">{{result.Title}}</th>
          <td>{{result.Year}}</td>
          <td>{{result.Type}}</td>
          <td><img src={{result.Poster}}/> </td>
        </tr>
      </tbody>
    </table>
